@charset "utf-8";

/* CSS Document */
body{margin:0;position:relative}
h1 a img{position:relrelative;width:191px;height:90px;margin-left:80px}
#header{height:90px;background:#fff}
header{font-size:30px;width:100%;padding:0 66px;margin:0 auto;background-color:#fff;position:fixed;z-index:100;box-shadow:0 4px 10px rgba(0,0,0,0.1)}
h1, nav{display:inline-block;float:left}
h1{font-size:1em}
h1 a{color:#282a35;display:inline-block;padding:25px;text-decoration:none;height:90px;box-sizing:border-box}
nav{text-align:center;float:right}
nav a{color:#000000;text-decoration:none;padding:25px 30px;display:inline-block;font-size:18px;font-weight:500;font-family:'Segoe UI';line-height:40px}
nav a:hover{border-bottom:3px solid #282a35;padding-bottom:22px;color:#000000}
.content{background:#fff;overflow:hidden}
.tit{margin-top:152px;margin-bottom:61px !important;text-align:center;font-size:40px;font-family:'Segoe UI'}

.main-visual{z-index:2}
.main-visual dt{position:absolute;right:20%;top:50%;transform:translateY(-50%);color:#fff;text-align:center;font-size:46px}
.main-tit{margin-left:auto;margin-right:auto;font-size:30px;font-weight:700;font-family:'Segoe UI'}

.text{font-size:20px;text-align:left;font-family:'Segoe UI'}

.bannerimg{width:100%;height:440px;background-image:url("../Img/img-sample-lg.jpg");position:relative;z-index:2;display:flex;align-items:center}

.ezkorry-roller{overflow:hidden;white-space:nowrap;font-family:'Roboto', sans-serif;font-weight:700}
.ezkorry-roller span::after{padding:0 10px}
.ezkorry-roller span{position:relative;font-size:260px}

.container .card{position:relative;z-index:2;background-color:transparent;border:1px solid #000;border-radius:0}
.card .card-body{padding:10px 13px 24px 13px;background-color:transparent;border-top:1px solid #000}
.card-text-tit{margin-bottom:0;font-size:20px;text-decoration:underline}
.card-body .card-text{text-align:left;font-size:20px;font-family: 'Segoe UI';}
.container{margin-bottom:50px}

.side-txt{position:absolute;width:20%;height:calc(100% - 585px);z-index:1;overflow:hidden;top:0;right:0}
.txt{position:absolute;right:2rem;writing-mode:vertical-rl;white-space:nowrap;font-size:260px;font-family:'Segoe UI';font-weight:bold;color:#000;opacity:.12}