/* header */
#header{height:107px;background:#fff}
header{font-size:30px;width:100%;margin:0 auto;padding:0 30px;background-color:#fff;position:fixed;z-index:100}
.header-logo{margin:4px 0 11px}
nav{display:inline-block;float:left}
nav{text-align:center;float:right}
nav a{color:#000000;text-decoration:none;padding:33px 30px;display:inline-block;font-size:22px;font-weight:initial;font-family:'Noto Sans KR',sans-serif;line-height:40px}
nav a:hover{border-bottom:3px solid #282a35;padding-bottom:31px;color:#000000}
.shadow {box-shadow:0 .3rem 1rem rgba(0,0,0,.05)!important}

body{position: relative}

/* top-text */
.mypage-text{margin-left:35px;margin-bottom:0;font-size:70px;font-family:'Roboto', sans-serif;font-weight:700;line-height:.8;position:relative}

/* side-text */
.side-txt{position:absolute;width:25%;height:calc(100% - 585px);z-index:-1;overflow:hidden;top:0;right:0}
.txt{transform:translate(0,107px);position:absolute;right:2rem;writing-mode:vertical-rl;white-space:nowrap;font-size:15.2vw;font-family:'Roboto', sans-serif;font-weight:bold;color:#000;opacity:.12}

/* main-container */
.main-container{padding-top:1.5vw;font-family:'Noto Sans KR',sans-serif;display:flex;flex-direction:column;align-items:center}

/* add-destination-container */
.add-destination-container{width:35vw;border:0.1vw solid #707070;display:flex;flex-direction:column;align-items:center}
.container-top{margin-top:3.5vw;display:flex;flex-direction:column;justify-content:flex-end;flex:1}
.form-logo{text-align:center}
.add-destination-txt{margin-bottom:1.5vw;font-size:3vw;font-weight:700}
.container-middle{width:60%;display:flex;flex-direction:column;justify-content:center;flex:1}
.container-middle p{margin:0;font-size:1.6vw}
.destination-address p{margin-top:2.5vw}
.container-middle input{width:100%;font-size:1.3vw;border:none;border-bottom:0.1vw solid #afafaf}
.container-middle input:focus{outline:none}
.container-bottom{width:40%;margin-bottom:4vw;display:flex;flex-direction:column;align-items:center;flex:1}
.add-default-destination{margin:4vw 0;display:flex;align-items:center;flex:1}
.add-default-destination input{width:1.5vw;height:1.5vw;border-radius:none}
.add-default-destination label{margin-left:1vw;font-size:1vw}
.btn-area{width:100%;flex:1}
.add-btn{width:100%;height:4.5vw;padding:.2vw .7vw;color:#fff;font-size:1.4vw;background-color:#707070;border:0.1vw solid #707070;border-radius:1vw}
.add-btn:hover{background-color:#000;border:0.1vw solid #000}

/* footer */
footer{height:585px;margin-top:160px;background:#f9f9f9;padding:50px 0;text-align:left;display:flex;align-items:center}
footer>div{width:1200px;margin:0 auto}
.footer-cont p{line-height:4em;border-top:1px solid rgba(0,0,0,.3)}
.footer-cont p:first-child{border-top:none}