/* header */
#header{height:107px;background:#fff}
header{font-size:30px;width:100%;margin:0 auto;padding:0 30px;background-color:#fff;position:fixed;z-index:100}
.header-logo{margin:4px 0 11px}
nav{display:inline-block;float:left}
nav{text-align:center;float:right}
nav a{color:#000000;text-decoration:none;padding:33px 30px;display:inline-block;font-size:22px;font-weight:initial;font-family:'Noto Sans KR',sans-serif;line-height:40px}
nav a:hover{border-bottom:3px solid #282a35;padding-bottom:31px;color:#000000}
.shadow {box-shadow:0 .3rem 1rem rgba(0,0,0,.05)!important}

body{position: relative}

/* top-text */
.mypage-text{margin-left:35px;margin-bottom:0;font-size:70px;font-family:'Roboto', sans-serif;font-weight:700;line-height:.8;position:relative}

/* side-text */
.side-txt{position:absolute;width:25%;height:calc(100% - 585px);z-index:-1;overflow:hidden;top:0;right:0}
.txt{transform:translate(0,107px);position:absolute;right:2rem;writing-mode:vertical-rl;white-space:nowrap;font-size:15.2vw;font-family:'Roboto', sans-serif;font-weight:bold;color:#000;opacity:.12}

/* main-container */
.main-container{padding-top:3.5vw;font-family:'Noto Sans KR',sans-serif;display:flex;flex-direction:column;align-items:center}

/* big-post-card-container */
.big-post-card-container{width:68vw;height:34vw;border:0.1vw solid #707070;display:flex;flex-direction:row}
.big-thumb-container{flex:1.3;position:relative;overflow:hidden}
.big-thumb-container img{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:100%}
.big-post-card-container .post-content-container{flex:1;display:flex;flex-direction:column;border-left:0.1vw solid #707070}
.big-post-card-container .content-top-container{padding:1.5vw;flex:1}
.big-post-card-container .content-bottom-container{padding:1.5vw;flex:1;display:flex;flex-direction:column}
.big-post-card-container .user-id-area p{margin:0;font-size:1.7vw;text-decoration:underline;text-underline-position:under;text-decoration-thickness:0.15vw}
.big-post-card-container .post-title-area p{margin:0;font-size:2.2vw}
.big-post-card-container .post-response-area{flex:1;display:flex;flex-direction:row;justify-content:flex-end;align-items:flex-end}
.post-like-container, .post-comment-container{display:flex;align-items:center}
.big-post-card-container .post-response-area p{margin:0 .5vw;font-size:1.8vw;text-align:right}
.big-post-card-container .product-img-container{display:flex;justify-content:space-between}
.big-post-card-container .product-thumb-container{width:5.9vw;height:5.9vw;margin-top:1.4vw;border-radius:0.6vw;border:0.1vw solid #707070;position:relative}
.big-post-card-container .product-thumb-container img{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:100%;height:auto;padding:.5rem .5rem}

/* comments-container */
.comments-container{width:68vw;display:flex;flex-direction:column;border:0.1vw solid #707070;border-top:none}
.comments-area{padding:0 2vw 2vw;max-height:55vh;overflow-y:scroll;-ms-overflow-style:none}
.comments-area::-webkit-scrollbar{display:none}
.comments-text-area p{margin:0;padding:1vw 2vw 1vw;font-size:1.9vw}
.comments-text-area{border-bottom:0.1vw solid #707070}
.comments{margin:2vw 0 4vw;display:flex;align-items:center}
.profile-thumb-container{width:4.2vw;height:4.2vw;border:0.1vw solid #707070;position:relative}
.profile-thumb-container img{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:100%;height:auto;padding:.5rem .5rem}
.comments-center-container{margin-left:1.1vw;flex:1}
.comments .user-id-area p{margin:0;font-size:.8vw}
.comments-content-area p{margin:0;font-size:1.5vw}
.comments-bottom-container{display:flex}
.comments-bottom-container p{margin:0;font-size:.8vw}
.like-number-area p{color:#707070}
.comments-period-area{margin-left:0.7vw}
.comments-period-area p{color:#cecece}
.like-container{display:flex;align-items:center}
.like-container a{display:flex;text-decoration:none;font-size:1.9vw;font-weight:100}
.wirte-comments-container{height:5vw;display:flex;align-items:center;border-top:0.1vw solid #707070}
.write-comments-area{width:100%;height:100%;margin-left:2.1vw}
.write-comments-area input{width:100%;height:100%;font-size:1.9vw;border:none}
.write-comments-area input::placeholder{font-size:1.9vw;vertical-align:middle}
.write-comments-area input:focus{outline:none}
.register-comments-btn{width:8.4vw;margin-right:2.1vw}
.register-comments-btn button{width:100%;height:3vw;font-size:1.4vw;background-color:#fff;border:0.1vw solid #707070}

/* related-post-container */
.related-post-container{width:90%;margin-top:4.6vw;display:flex;flex-direction:column;align-items:center}
.related-post-text p{margin:0;font-size:2.2vw}
.posting-card-row-bundle-container{width:100%;margin-top:7vw;display:flex;justify-content:space-evenly}
.post-card-container{width:19.4vw;text-align:left;border:0.1vw solid #707070;z-index:2}
.post-card-container .post-thumb-container{height:19.4vw;position:relative;overflow:hidden}
.post-card-container .post-thumb-container img{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:100%}
.post-card-container .post-content-container{height:10vw;padding:0.3vw 0.6vw;border-top:0.1vw solid #707070}
.post-card-container .user-id-area p{margin:0}
.post-card-container .post-title-area p{margin:0;font-size:1vw;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.post-response-area{flex:1;display:flex;flex-direction:row;justify-content:flex-start;align-items:flex-end}
.post-like-container, .post-comment-container{display:flex;align-items:center}
.post-like-amount-container{margin-left:.1vw}
.post-comment-container{margin-left:.5vw}
.post-card-container .post-response-area img{width:20px}
.post-response-area p{margin:0;margin-left:.1vw;}
.post-card-container .user-id-area,.post-card-container .post-response-area{font-size:0.8vw;}
.post-card-container .product-img-container{display:flex;justify-content:space-between}
.post-card-container .product-thumb-container{width:4.2vw;height:4.2vw;margin-top:0.9vw;border-radius:0.6vw;border:0.1vw solid #707070;position:relative}
.post-card-container .product-thumb-container img{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:100%;height:auto;padding:.5rem .5rem}

/* footer */
footer{height:585px;margin-top:160px;background:#f9f9f9;padding:50px 0;text-align:left;display:flex;align-items:center}
footer>div{width:1200px;margin:0 auto}
.footer-cont p{line-height:4em;border-top:1px solid rgba(0,0,0,.3)}
.footer-cont p:first-child{border-top:none}