/* header */
#header{height:107px;background:#fff}
header{font-size:30px;width:100%;margin:0 auto;padding:0 30px;background-color:#fff;position:fixed;z-index:100}
.header-logo{margin:4px 0 11px}
nav{display:inline-block;float:left}
nav{text-align:center;float:right}
nav a{color:#000000;text-decoration:none;padding:33px 30px;display:inline-block;font-size:22px;font-weight:initial;font-family:'Noto Sans KR',sans-serif;line-height:40px}
nav a:hover{border-bottom:3px solid #282a35;padding-bottom:31px;color:#000000}
.shadow {box-shadow:0 .3rem 1rem rgba(0,0,0,.05)!important}

body{position:relative}

/* top-text */
.mypage-text{margin-left:35px;margin-bottom:0;font-size:70px;font-family:'Roboto', sans-serif;font-weight:700;line-height:.8;position:relative}

/* side-text */
.side-txt{position:absolute;width:25%;height:calc(100% - 585px);z-index:-1;overflow:hidden;top:0;right:0}
.txt{transform:translate(0,107px);position:absolute;right:2rem;writing-mode:vertical-rl;white-space:nowrap;font-size:15.2vw;font-family:'Roboto', sans-serif;font-weight:bold;color:#000;opacity:.12}

/* container */
.main-container{padding-top:5.3vw;font-family:'Noto Sans KR',sans-serif;display:flex;flex-direction:column;align-items:center}
.main-top-container{display:flex;flex-direction:row;justify-content:center}
.cart-container{display:flex;flex-direction:column;align-items:center;max-height:70vh;overflow-y:scroll;-ms-overflow-style:none}
.cart-container::-webkit-scrollbar{display:none}

/* side-menu */
.shopping-info-container, .member-info-container{width:13vw;display:flex;align-items:center;justify-content:center;border:0.1vw solid #707070}
.member-info-container{margin-top:1vw}
.shopping-info-area, .member-info-area{margin:2vw 0}
.shopping-info-area p, .member-info-area p{margin:0;font-size:1.8vw;font-weight:700}
.shopping-info-area a, .member-info-area a{margin-top:1vw;display:block;color:#000;font-size:1.2vw;text-underline-position:under;text-decoration-thickness:0.1vw}

/* profile-card */
.main-top-container .profile-card-container{width:65vw;height:32.5vw;margin-left:3vw;margin-right:6vw;border:0.1vw solid #707070;display:flex;flex-direction:row;z-index:2}
.main-top-container .profile-thumb-container{flex:1;position:relative}
.main-top-container .profile-thumb-container img{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:100%;height:auto;padding:4rem 4rem}
.main-top-container .profile-content-container{border-left:0.1vw solid #707070;flex:1;display:flex;flex-direction:column}
.main-top-container .content-top-container{padding:1.5vw;flex:1}
.main-top-container .content-bottom-container{padding:1.5vw;flex:1;display:flex;flex-direction:column}
.main-top-container .user-name-area p{margin:0;font-size:2.8vw;text-decoration:underline;text-underline-position:under;text-decoration-thickness:0.15vw}
.main-top-container .profile-card-container .user-id-area p{margin:0;font-size:1.9vw;line-height:.9}
.main-top-container .profile-card-container .purchace-amount-area{flex:1}
.main-top-container .profile-card-container .purchace-amount-area p{margin:0;font-size:1.9vw}
.main-top-container .profile-btn-area{flex:1;display:flex;justify-content:space-between}
.main-top-container .profile-card-container button{width:48%;height:100%;font-size:1vw;background-color:#efefef;border:0.1vw solid #707070;border-radius:1vw}
.main-top-container .profile-card-container .profile-edit-btn{background-color:#fff;border:0.1vw solid #707070}
.main-top-container .profile-card-container button:hover{background-color:#cecece;border:0.1vw solid #cecece}
.main-top-container .profile-card-container .profile-edit-btn:hover{background-color:#fff;border:0.3vw solid #707070}

/* cart-container */
.like-text{margin-top:4vw;margin-bottom:2vw;font-size:4vw;font-weight:700}
.cart-card-container{width:64.6vw;height:12.8vw;display:flex;flex-direction:row;border:0.1vw solid #707070}
input{width:2.5vw;height:2.5vw;cursor:pointer}
.check-cart-container input{margin-right:2vw}
.check-cart-container{margin-top:3vw;display:flex;align-items:center}
.product-thumb-container{flex:1;border-right:0.1vw solid #707070;position:relative}
.product-thumb-container img{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:100%;height:auto;padding:2rem 2rem}
.product-content-container{display:flex;flex-direction:column;align-self:center;flex:2}
.product-brand-area p{margin:3vw 1.5vw 0;font-size:2.2vw;letter-spacing:-0.15vw;text-decoration:underline;text-underline-position:under;text-decoration-thickness:0.15vw}
.product-name-area p{margin:0 1.5vw 1.5vw;font-size:1.4vw;line-height:.9}
.cart-container .purchace-amount-area{flex:1}
.cart-container .purchace-amount-area p{margin:0 1.5vw 1.5vw 0;font-size:1.4vw;text-align:right}
.put-cart-container, .delete-container{flex:1;display:flex;flex-direction:row;align-items:center;justify-content:center;border-left:0.1vw solid #707070}
.put-cart-container p, .delete-container p{margin:0;font-size:1.4vw}
.cart-btn, .delete-btn{font-size:1.3vw;background-color:#fff;border:0.1vw solid #707070}
.select-area{width:70%;margin-top:2vw;display:flex;flex-direction:row;justify-content:flex-end;align-items:center}
.select-area label{margin-left:.5vw;font-size:1.6vw}
.overall-cart-btn{margin-left:2.3vw;padding:.2vw .7vw;color:#fff;font-size:1.4vw;background-color:#707070;border:0.1vw solid #707070;border-radius:.8vw;z-index:2}
.overall-cart-btn:hover{background-color:#000;border:0.1vw solid #000}

/* footer */
footer{height:585px;margin-top:278px;background:#f9f9f9;padding:50px 0;text-align:left;display:flex;align-items:center}
footer>div{width:1200px;margin:0 auto}
.footer-cont p{line-height:4em;border-top:1px solid rgba(0,0,0,.3)}
.footer-cont p:first-child{border-top:none}